# macOS
.DS_Store

# Emacs
*~
\#*\#

# Obsidian.md
.obsidian/*
!.obsidian/README.md

# Massive Wiki Builder
.massivewikibuilder/output/*

# misc software artifacts
*.bkp
# baseline gitignore for MARKPUB
# for Obsidian.md vaults
.obsidian/*

# Python
__pycache__
venv

# Node
node_modules

# MARKPUB
.markpub/output/*

