<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="/mwb-static/css/mystyles.css">
    <link rel="stylesheet" href="/mwb-static/css/markdown.css">
    <link rel="stylesheet" href="/mwb-static/css/sidebar.css">
    {% if lunr_index_sitepath != '' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script>
    <script src="{{lunr_index_sitepath}}"></script>
    <script>var index = lunr.Index.load(lunr_index)</script>
    {% endif %}
    {% if lunr_posts_sitepath != '' %}
    <script src="{{lunr_posts_sitepath}}"></script>
    {% endif %}
  </head>
